# Ignore storage folder
/storage/*

# Ignore virtual environment
/venv/

# Ignore subtitle files
*.srt

# Ignore video files
*.mp4

# Ignore video files
*.part
*.ytdl

# Optional: OS / editor files
*.DS_Store
*.swp
*.vscode/
